export(adjust_pvalues)
export(add_dgrowthr_growth)
export(call_hits)
export(destress_workflows)
export(estimate_growth_exponents)
export(empirical_replicate_pvalues)
export(fit_destress)
export(fit_empty_vector_control)
export(fit_effect_mixture)
export(fit_median_polish)
export(fit_workflow)
export(model_matrix_report)
export(plot_effect_histogram)
export(plot_response_cluster_blocks)
export(plot_response_clustered_heatmap)
export(plot_response_heatmap)
export(plot_volcano)
export(prepare_assay)
export(read_campylobacter_expression)
export(results)
export(simulate_screen)
importFrom(methods,is)
importFrom(methods,slot)
